



h1 {
    display: flex;
    justify-content: center;
    flex: cover;
    color:aliceblue;
    font-family: monospace, monaco;
    
}

div {
    display: flex;
    justify-content: center;
}

.games{
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;

}
body{
    background-image: linear-gradient(rgb(175, 72, 72), tan);
    height : 100%;
    width : 100%;

}
h2{
    justify-content: center;
    
}
#img1{
    margin: auto;

    
}
#txt{
    justify-content: center;
    color: white;
    background-color: black;
    border: 10px solid rgb(170, 59, 59);
    max-width: 300px;
    margin: auto;
}
.start{
    flex-wrap: wrap;
    flex-direction:column;
    align-content: center;
    padding-bottom: 50px;
    justify-content: center;
    background-image: url('https://i.imgur.com/2qt9JPK.jpg');
    background-size: cover;
    

}  
#search{
    background-color: black;
    color:white; 
    border: 10px solid rgb(170, 59, 59);
    max-width: 200px;
    margin: auto;
    
}
.games{
    text-align: center;
    margin: auto;
    justify-content: space-around;
}
#teams {
    font-size: 40px;
    font-family: monospace, monaco;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    
}

#winContainer{
    font-size:35px;
    margin: auto;
    font-family: monospace, monaco;
    padding-bottom: 10px;
}

#userChoice {
    /* padding-left: 5%; */
    justify-content: space-around;
    padding-left: 50px;
    margin: auto;
}
#matchup{
    padding-top: 10px;
    padding-right: 10%;
}
.form {
    margin: auto;
    
    text-align: center;
}
#result{
    padding-top: 30px;
    font-size : 40px;
    justify-content: center;
}
#select{
    text-align: center;
    font-family: monospace, monaco;
}

.images{
    width: cover;
    height: 200px;
    flex-basis: 50%;
    flex-direction: row;
    align-content: center;
    padding-top: 30px;
    padding-bottom:30px;
    margin: auto;   
    }

    #teamImg{
        justify-content: space-around;
    }


@media (max-width:500px) {
    #imgContainer{
        display: none;
    }
    #txt{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size:14px;
        text-align:center;
    }
    h2{
        font-size: 14px;
    }
    .choice{
        font-size: 14px;
    }
    #teamImg {
        display: none;
    }
    #teams{
        font-size: 14px;
    }
    #winContainer{
        font-size: 14px;
    }
    #result{
        font-size: 14px;
    }
    footer{
        font-size: 10px;
    }
}